     {% load staticfiles %}

     <div class="col-md-7">
          <h2 class="featurette-heading">open the following link<span class="text-muted"> to see open source code.</span></h2>
          <p class="lead">www.github.com/shipei</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'img/github.jpg' %}">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Build your own to-do list<span class="text-muted"> to wisely manage your time!</span></h2>
          <p class="lead"></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'img/time.jpg' %}" >
        </div>